.cabecalho {
   background-color: #0D1F21;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   font-family: 'Fira Code', sans-serif;
   font-weight: 500;
}

img {
   width: 60px;
}

nav, nav ul {
   display: flex;
   align-items: center;
   gap: 30px;
}

nav li {
   list-style: square;
   list-style-position: inside;
   color: #00D6F3;
}

a {
   color: white;
   text-decoration: none;
}

main {
   background-image: url(../assets/img/fundo.jpg);
   background-size: cover;
   background-position: center;
   height: calc(100vh - 80px);
}