.carousel-button {
   background-color: #00D6F3;
   cursor: pointer;
   padding: 7px;
}
.carousel-button::after {
   content: '';
   display: block;
   border-block: 19px solid transparent;
   border-left: 37px solid white;
}

.carousel-button.-left::after{
   transform: rotate(180deg);
}

.carousel-button .content {
   display: none;
}

.carousel-button.-disabled {
   background-color: #007e8f;
   cursor: default;
}
.carousel-button.-disabled::after {
   border-left: 37px solid #b0b0b0;
}