.header {
   background-color: #0D1F21;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
}

.logo {
   width: 60px;
}

.navigation, .links {
   display: flex;
   align-items: center;
   gap: 30px;
}