.main-header {
   background-color: #0D1F21;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
}

.main-header .logo {
   width: 60px;
}

.main-header .navigation,
.main-header .links {
   display: flex;
   align-items: center;
   gap: 30px;
}