.main-banner {
   box-sizing: border-box;
   background-image: url(../../assets/img/fundo.jpg);
   background-size: cover;
   background-position: center;
   border-bottom: 6px solid black;
   height: calc(100vh - 80px);
   padding-top: 116px;
   padding-left: 90px;
}

.main-banner .wrapper {
   display: flex;
   flex-direction: column;
   width: fit-content;
   gap: 40px;
}

.main-banner .buttons {
   display: flex;
   justify-content: space-evenly;
}