.main-section {
   background-color: #03b9d1;
   border-bottom: 6px solid #0D1F21;
   padding: 50px 0 100px;
}

.main-section.-dark {
   background-color: black;
   border-color: #03b9d1;
}

.main-section.-marine {
   background-color: #0D1F21;
   border-color: black;
}