.skill-tech {
   display: grid;
   grid-template-areas:
   "icon title"
   "icon progress";
   width: fit-content;
   column-gap: 27px;
   row-gap: 16px;
   align-items: center;
}

.skill-tech .icon {
   grid-area: icon;
   max-width: 80px;
}

.skill-tech .title {
   grid-area: title;
   font-family: 'Press Start 2P', sans-serif;
   font-size: 25px;
   color: white;
}

.skill-tech .progress-bar {
   grid-area: progress;
}